// Body
// ------------------------------------------------------------

body {
	background-color: @bodyBackground;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
}

p {
	margin: 0 0 @baseLineHeight / 2;
}

// Headings
// ------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 (@baseLineHeight / 2) 0;
	font-family: @headingsFontFamily;
	font-weight: @headingsFontWeight;
	line-height: @baseLineHeight;
	color: @headingsColor;
}

h1, h2, h3 { line-height: @baseLineHeight * 2; }

h1 { font-size: @baseFontSize * 2.75; } // ~38px
h2 { font-size: @baseFontSize * 2.25; } // ~32px
h3 { font-size: @baseFontSize * 1.75; } // ~24px
h4 { font-size: @baseFontSize * 1.25; } // ~18px
h5 { font-size: @baseFontSize; }	// ~15px
h6 { font-size: @baseFontSize * 0.85; } // ~12px

// List
// ------------------------------------------------------------

ul {
	li {
		margin: 0 0 @baseLineHeight / 2;
	}
}

// Blockquotes
// ------------------------------------------------------------

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 @baseLineHeight 0;
	border-left: 5px solid @grayLighter;
	
	p {
    	margin-bottom: 0;
	}
}

// Link
// ------------------------------------------------------------

a {
	color: @linkColor;
	text-decoration: none;

	&:hover{
		color: @linkColor;
		text-decoration: underline;  	
  }
}

// Form Elements
// ------------------------------------------------------------

input {
	font-size: @baseFontSize;
	outline: none;
}

input[type="text"],
input[type="password"]{
	padding: 5px 7px;
	margin: 0 0 10px 0;
	width: 250px;
	font-family: '宋体';
	border: 1px solid @grayLighter;
	display: block;
}

input[type="submit"],
input[type="button"] {
	border: 0;
}

textarea {
	padding: 5px 7px;
	font-size: @baseFontSize;
	font-family: @altFontFamily;
	line-height: @baseLineHeight;
	border: 1px solid @grayLighter;
	margin: 0 0 10px 0;
	display: block;
}

select {
	font-size: 14px;
	border: 1px solid @grayLighter;
	font-family: @altFontFamily;
	padding: 3px 2px;
	margin: 0 0 10px 0;
}

// Button
// ------------------------------------------------------------

.btn {
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 0; // For input.btn
	font-size: @baseFontSize;
	line-height: @baseFontSize;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
	border-radius: @baseBorderRadius;
	color: @grayDark;
	background-color: @grayLighter;

	&:hover {
		text-decoration: none;
		color: @grayDark;
		background-color: darken(@grayLighter, 5%);
	}
}

.btn-large {
	font-size: @fontSizeLarge;
	padding: @paddingLarge;
}

.btn-small {
	font-size: @fontSizeSmall;
	padding: @paddingSmall;
}

.btn-tiny {
	font-size: @fontSizeSmall;
	padding: @paddingTiny;
}

.btn-primary {
	color: @white;
	background-color: @blueSky;

	&:hover {
		color: @white;
		background-color: darken(@blueSky, 5%);
	}
}

.btn-donate {
	color: @black;
	background-color: @orange;

	&:hover {
		color: @black;
		background-color: spin(@orange, 5%);
	}	
}

.btn-cmd {
	background-color: @white;
	font-family: @altFontFamily;
	color: @linkColor;

	&:hover{
		background-color: @blueSky;
		color: @white;		
	}
}