/* Reset
------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockqoute,th,td,select{
	margin:0;
	padding:0;
}

textarea, input, select{
	outline:none;
}

/* Functions
------------------------------------------------------------*/
.clearfix:before{
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}

.clearfix:after{
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}

.subtitle{
	font-size:20px;
	font-weight:bold;
	margin:0 0 10px 0;
	font-family:"微软雅黑";
}

.indent-2em{
	text-indent:1em;
}

.floatleft{
	float:left;
}

/* Panel Header */
.panel-header{
	margin:0 0 10px 0;
	clear:both;
}
.panel-header:after{
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}

.panel-header .panel-title{
	font-size:18px;
	color:#1C86EE;
	font-weight:bold;
	font-family:'微软雅黑';
	display:inline-block;
	padding:0 5px 0 0;
}

.panel-header .panel-cmd-wapper{
	font-size:12px;
	display:inline-block;
	font-family:'宋体';
}

.panel-header .panel-cmd{
	text-decoration:none;
	color:#0455A1;
	cursor:pointer;
	padding:1px;
}

.panel-header .panel-cmd:hover{
	background-color:#1C86EE;
	color:white;
}

/* 
------------------------------------------------------------*/

/* 表单 */
input{
	font-size:14px;
	border:1px solid lightgray;
	font-family:'宋体';
}

input[type="text"], input[type="password"]{
	padding:5px 7px;
	margin:0 0 10px 0;
	width:200px;
}

input[type='submit'], input[type='button']{
	padding:3px 10px;
	margin-right:5px;
	cursor:pointer;
}

input[type='submit']:hover, input[type='button']:hover{
	background-color:white;
}

textarea{
	padding:5px 7px;
	font-size:14px;
	font-family:'宋体';
	line-height:20px;
	border:1px solid lightgray;
	margin:0 0 10px 0;
}

select{
	font-size:14px;
	border:1px solid lightgray;
	font-family:'宋体';	
}

.small-cmd{
	font-size:12px;
	font-family:'宋体';
	text-decoration:none;
	margin:0 6px 0 0;
	cursor:pointer;
	color:#0455A1;
	padding:1px;
}

.small-cmd:hover{
	background-color:#1C86EE;
	color:white;
}

.multi-user-profile{
	width: 40px;
	height: 40px;
	float: left;
	margin: 0 10px 10px 0;
	border:none;
}

/* jQuery Plugin
------------------------------------------------------------*/

/* datapicker */
.ui-datepicker{
	font-size:12px;
}

.ui-datepicker select.ui-datepicker-year{
	width:40%;
	margin-right:5px;
}

.ui-datepicker select.ui-datepicker-month{
	width:40%;
	margin-left:5px;
}

/* dialog */

.ui-button-text-only .ui-button-text {
	padding: .2em 1em;
}

.ui-dialog{
	font-size:15px;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em 0em .5em 0.8em;
}

/* Layout
------------------------------------------------------------*/
body{
	background-color:white;
	font-family:'微软雅黑';
	font-size:15px;
}

#header{
	background-color:#2B2B2B;
	height:40px;
	position:relative;
	margin:0 0 10px 0;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:10000;
}

#header-wap{
	width:1000px;
	margin:0 auto;
	position:relative;
}

#content-wap{
	position:relative;
	top:55px;
	margin:0 auto;
	width:1000px;
	min-height:550px;
}

#footer{
	margin:80px auto 10px auto;
	text-align:center;
	font-size:12px;
}

/* Header
------------------------------------------------------------*/

/* Logo */
#logo-link{
	display:block;
	background-image:url('../imgs/new.png');
    background-repeat:no-repeat;
	height:25px;
	width:104px;
	float:left;
	margin:8px 5px 0 5px;
}

/* Nav */
#nav{
	float:left;
	list-style:none;
}

#nav li{
	float:left;
}

#nav a{
	text-decoration:none;
	font-size:15px;
	color:#CCC;
	margin:12px 0 0px 20px;
	display:block;
	font-family:'宋体';
}

#nav a:hover{
	color:white;
}

#page-goals #nav-goals,
#page-dynamic #nav-dynamic,
#page-person #nav-person,
#page-newgoal #nav-newgoal,
#page-discover #nav-discover{
	color:white;
}

/* Footer
------------------------------------------------------------*/
#footer #about-this{
	color:#0455A1;
	text-decoration:none;
	display:inline-block;
	margin:0 6px 0 0;
}
#footer #about-this:hover{
	text-decoration:underline;
}

/* User Account
------------------------------------------------------------*/

/* Login State Panel */
#account-info{
	position:absolute;
	top:9px;
	right:0px;
}

#account-info a{
	display:inline-block;
	color:#CCC;
	font-size:13px;
	cursor:pointer;
	margin-left:2px;
	font-family:'宋体';
	text-decoration:none;
}

#account-info a:hover{
	color:white;
}

/* Account Details */
#table-account-details{
	border-spacing: 0;
	border-collapse: collapse;
}

#table-account-details td{
	padding:0 10px 10px 0;
}

#table-account-details .item-header{
	vertical-align:top;
}

/* Login Page */
#login-page{
	background-color:#EEE;
}

#login-slogan{
	font-size:22px;
	margin:150px auto 30px auto;
	text-align:center;
}

#form-login{
	width:350px;
	margin:0 auto 0 auto;
	padding:40px 30px 20px 30px;
	border:1px solid #AAA;
	box-shadow:0 0 5px #AAA;
	border-radius:8px;
	background-color:white;
}

#form-login #login-user, #form-login #login-pwd{
	width:334px;
	font-size:20px;
	font-family:'微软雅黑';
	margin-bottom:25px;
	border-radius:3px;
	clear:both;
}

#form-login input[type='submit']{
	font-family:'微软雅黑';
	font-size:20px;
	border-radius:3px;
	float:right;
	padding:3px 15px;
}

/* My Goals
------------------------------------------------------------*/

/* Goal Selector */
#goal-selector{
	list-style:none;
	display:inline-block;
	margin:0 0 10px 0;
	float:right;
	width:120px;
	text-align:center;
}

#goal-selector li a{
	text-decoration:none;
	color:black;
	padding:8px 0;
	margin:0 0 8px 0;
	display:block;
	font-size:15px;
	font-weight:bold;
	background-color:#E8E8E8;
}

#goal-selector li a:hover{
	background-color:#DDD;
}

/* Goals */
#content-goals{
	width:800px;
}
#content-goals:after{
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}

#content-goals .goal-item{
	background-color:white;
	width:170px;
	height:200px;
	float:left;
	margin:0 15px 20px 0;
	position:relative;
	overflow:hidden;
	border:1px solid #CCC;
}

#content-goals .goal-item:hover{
	background-color:#F7F7F7;
}

#content-goals .goal-item .goal-link{
	display:block;
	padding:8px 10px 10px 10px;
	color:black;
	text-decoration:none;
}

#content-goals .goal-item .goal-title{
	font-size:18px;
	font-weight:bold;
	margin:0 0 5px 0;
}

#content-goals .goal-item .goal-title a{
	text-decoration:none;
	color:black;
}

#content-goals .goal-item .goal-why{
	font-size:15px;
	line-height:20px;
	margin-top:5px;
	color:#666;
	font-family:"宋体";
}

#content-goals .goal-item .goal-info-wap{
	position:absolute;
	font-size:12px;
	bottom:6px;
	left:11px;
	z-index:0;
	color:#666;
}

#content-goals .goal-item-future .goal-starttime{
	font-size:12px;
	color:#666;
	margin-top:2px;
}

#content-goals .goal-item .goal-cmd-wap{
	position:absolute;
	bottom:-32px;
	left:0;
	z-index:100;
	width:170px;
	background:black;
	opacity:0.8;
	text-align:right;
}

#content-goals .goal-item .goal-cmd{
	color:black;
	font-size:12px;
	font-family:'宋体';
	display:inline-block;
	margin:6px 6px 6px 0;
	border-radius:3px;
	background-color:white;
	text-decoration:none;
	padding:3px 5px;
	cursor:pointer;
}
#content-goals .goal-item .goal-cmd:hover{

}

/* Delay Dialog */
#form-delay-goal #goal-starttime{
	font-size:15px;
	padding:4px 3px;
	margin-top:10px;
	border:1px solid lightgray;
	width:202px;
}

/* Dynamics
------------------------------------------------------------*/

/* Layout */
#dynamic-panel{
	width:70%;
	float:left;
}

#dynamic-sidebar-panel{
	width:28%;
	float:right;
}

/* Dynamic Type */
#dynamic-panel #dynamic-type-wap{
	margin:0 0 15px 0;
	padding:0 0 15px 0;
	border-bottom:1px solid #EEEEEE;
}

#dynamic-panel .dynamic-type{
	display:inline-block;
	text-decoration:none;
	color:black;
	background-color:lightgray;
	padding:5px 15px;
	margin:0 1px 0 0;
	font-weight:bold;
}

#dynamic-panel .dynamic-type:hover{
	background:#DDD;
}

/* Dynamics */
#dynamic-panel .dynamic-item{
	clear:both;
	margin:0 0 10px 0;
	border-bottom:1px solid #EEEEEE;
	position:relative;
}

#dynamic-panel .dynamic-poster-profile{
	float:left;
	width:40px;
	height:40px;
	margin:0 12px 0 0;
}

#dynamic-panel .dynamic-content-wap{
	float:left;
	width:648px;
	font-size:14px;
	font-family:'宋体';
}

#dynamic-panel .dynamic-item .dynamic-header{
	color:#A8A8A8;
	margin:0 0 10px 0;
}

#dynamic-panel .dynamic-item  .dynamic-header a{
	color:#369;
	cursor:pointer;
	text-decoration:none;
}

#dynamic-panel .dynamic-item  .dynamic-header a:hover{
	text-decoration:underline;
}

#dynamic-panel .dynamic-item .dynamic-log-title{
	font-weight:bold;
	padding:0 0 8px 0;
}

#dynamic-panel .dynamic-item .dynamic-log-content,
#dynamic-panel .dynamic-item .dynamic-goal-reason{
	padding:0 15px 0 0;
	font-family:'宋体';
	line-height:22px;
	color:#333;
}

#dynamic-panel .dynamic-item .dynamic-footer{
	font-size:12px;
	text-align:right;
	margin:0 0 5px 0;
}

#dynamic-panel .dynamic-item .dynamic-time{
	display:inline-block;
	color:gray;
}

/* Comment Textarea */
#dynamic-panel .comment-wap{
	margin:0 0 0 52px;
}

#dynamic-panel .comment-wap .comment-content{
	border:1px solid lightblue;
	padding:5px 7px;
	font-size:14px;
	font-family:'宋体';
	line-height:20px;
	outline:none;
	clear:both;
	margin:0 0 8px 0;
}

#dynamic-panel .comment-wap .comment-submit{
	display:block;
	float:right;
	border:1px solid lightgray;
	padding:1px 10px;
	margin:0 0 8px 0;
	cursor:pointer;
	font-size:14px;
	background-color:lightgray;
}

#dynamic-panel .comment-wap .comment-submit:hover{
	background-color:#EEE;
}

/* New & Edit Goal Form
------------------------------------------------------------*/

#form-new-goal #goal-title, #form-edit-goal #goal-title{
	width:500px;
}

#form-new-goal #goal-why, #form-edit-goal #goal-why{
	width:500px;
}

#form-new-goal #goal-type, #form-edit-goal #goal-type{
	margin:0 6px 10px 0;
	padding:3px 2px;
}

#form-new-goal #goal-ispublic, #form-edit-goal #goal-ispublic{
	margin:0 0 10px 0;
	padding:3px 2px;
}

#form-new-goal #goal-starttime, #form-edit-goal #goal-starttime{
	padding:4px 3px;
	display:none;
	width:202px;
}

/* Goal Details
------------------------------------------------------------*/

/* Layout */
#goal-title-panel{
	margin:0 0 15px 0;
	position:relative;
	clear:both;
}

#goal-details-panel{
	width:70%;
	float:left;
	position:relative;
}

#goal-sidebar-panel{
	width:28%;
	float:right;
	position:relative;
}

/* Goal Infomation */
#goal-title-panel #goal-title{
	font-size:28px;
	font-weight:bold;
}

#goal-title-panel #goal-why{
	font-size:14px;
	font-family:'宋体';
	margin:5px 0 0 0;
	color:#666;
}

#goal-title-panel #goal-starttime{
	font-size:12px;
	color:gray;
	margin-bottom:5px;
}

#goal-title-panel #goal-cmd-wap{
	position:absolute;
	bottom:0px;
	right:30%;
}

#goal-title-panel #goal-cmd-wap a{
	text-decoration:none;
	color:black;
	border-radius:2px;
	display:inline-block;
	padding:2px 8px;
	background-color:#E8E8E8;
	font-size:15px;
	margin:0 0 0 6px;
	font-weight:bold;
}

#goal-title-panel #goal-cmd-wap a:hover{
	background-color:orange;
}

#goal-title-panel #goal-cmd-wap a.isCheered:hover{
	background-color:#E0E0E0;
	cursor:default;
}

#goal-title-panel #goal-num-wap{
	position:absolute;
	top:5px;
	right:0px;
}

#goal-title-panel #goal-num-wap .goal-num-item{
	display:inline-block;
	padding-left:12px;
}

#goal-title-panel #goal-num-wap .goal-num-item-border{
	border-right:1px solid lightgray;
	padding-right:12px;
}

#goal-title-panel #goal-num-wap .goal-num-item .goal-num{
	text-align:center;
	font-weight:bold;
	font-size:20px;
}

/* Reason */
#goal-details-panel #goal-reason{
	font-size:13px;

	margin:0 0 15px 5px;
	color:#202020;
}

/* Steps */
#goal-details-panel #goal-steps{
	margin:0 10px 15px 5px;
}

#goal-details-panel #goal-steps li{
	list-style-position:inside;
	list-style-type:square;
	margin:0 0 3px 0;
	padding:0 0 3px 0;
	font-size:13px;
	line-height:22px;
	border-bottom:1px dashed #E6E6E6;
	color:#202020;
}

/* Step Dialog */

#step-edit-list li{
	list-style-type: none;
}

#step-edit-list li .step-edit-area{
	padding:5px 8px;
	margin-top:10px;
	font-size:14px;
	line-height:20px;
	width:310px;
	border:1px solid lightgray;
	outline:none;
	display:block;
	float:left;
}

#step-edit-list li .step-edit-area:focus{
	background-color:#eee;
}

#step-edit-list li .delete-step-item,
#step-edit-list li .add-step-item{
	display:block;
	float:left;
	margin:10px 0 0 8px;
	font-size:12px;
	cursor:pointer;	
}

#step-edit-list li .delete-step-item:hover, #step-edit-list li .add-step-item:hover{
	background:black;
	color:white;
}

/* logs */
#goal-details-panel .log-item{
	border-bottom:1px DASHED #E6E6E6;
	margin:0 0 8px 0;
}

#goal-details-panel .log-title{
	font-size:15px;
	font-weight:bold;
	margin:0 0 5px 0;
}

#goal-details-panel .log-content{
	font-size:13px;
	line-height:22px;
	font-family:'宋体';
	margin:0 0 5px 5px;
	color:#202020;
}

#goal-details-panel .log-cmd-time-wap{
	text-align:right;
	font-size:12px;
	margin:0 0 5px 0;
}

#goal-details-panel .log-time{
	display:inline-block;
	color:gray;
}

/* Log Dialog */
#form-new-log #log-title, #form-edit-log #log-title{
	margin:10px 0 15px 0;
	width:454px;
}

#form-new-log #log-content, #form-edit-log #log-content{
	width:454px;
	height:200px;
	resize:vertical;
	margin:0 0 0 0;
}

/* Comments */
#goal-details-panel .comment-item{
	border-top:1px dashed #EEE;
	padding:5px 0 8px 0px;
	margin:0 0 0 60px;
	font-size:13px;
	font-family:'宋体';
}

#goal-details-panel .comment-poster-profile{
	height:35px;
	width:35px;
	float:left;
	margin:0 8px 0 0;
}

#goal-details-panel .comment-main{
	float:left;
}

#goal-details-panel .comment-header{
	margin:0 0 6px 0;
}

#goal-details-panel .comment-time-cmd-wap{
	font-size:12px;
}

#goal-details-panel .comment-time{
	color:gray;
}

#goal-details-panel .comment-cmd{
	color:#369;
	cursor:pointer;
}
#goal-details-panel .comment-cmd:hover{
	color:white;
	background-color:blue;
}

#goal-details-panel .comment-item a{
	text-decoration:none;
	color:#369;
}

#goal-details-panel .comment-item a:hover{
	text-decoration:underline;
}

/* Comment Textarea */
#goal-details-panel .comment-wap{
	margin:0 0 0 60px;
}

#goal-details-panel .comment-wap .comment-content{
	border:1px solid lightblue;
	padding:5px 7px;
	font-size:14px;
	font-family:'宋体';
	line-height:20px;
	outline:none;
	clear:both;
	margin:0 0 8px 0;
}

#goal-details-panel .comment-wap .comment-submit{
	display:block;
	float:right;
	border:1px solid lightgray;
	padding:1px 10px;
	margin:0 0 8px 0;
	cursor:pointer;
	font-size:14px;
	background-color:lightgray;
}

#goal-details-panel .comment-wap .comment-submit:hover{
	background-color:#EEE;
}

/* Creator */
#goal-sidebar-panel .user-icon{
	text-decoration:none;
	display:block;
	float:left;
	margin:0 10px 10px 0;
}

#goal-sidebar-panel .user-icon img{
	width:40px;
	height:40px;
	border:none;
}

/* Discover
------------------------------------------------------------*/
#discover-goal-type-list{
	list-style:none;
	border-bottom:1px solid gray;
	padding:0 0 10px 0;
	width:600px;
}

#discover-goal-type-list li{
	display:inline-block;
}

#discover-goal-type-list li a{
	display:block;
	padding:5px 0;
	width:60px;
	text-decoration:none;
	cursor:pointer;
	font-size:14px;
	font-family:'宋体';
	text-align:center;
}

#discover-goal-type-list li a:hover{
	background:deepSkyBlue;
	color:white;
}

.discover-goal-item{
	border:1px solid lightgray;
	margin:0 18px 15px 0;
	width:450px;
	float:left;
	font-size:12px;
	font-family:'宋体';
	position:relative;
	padding:7px 10px;
}

.discover-goal-item .discover-goal-title{
	font-size:16px;
	font-weight:bold;
	font-family:'微软雅黑';
	margin:0 0 3px 0;
}

.discover-goal-item .discover-goal-title a{
	text-decoration:none;
	color:#369;
}

.discover-goal-item .discover-goal-title a:hover{
	text-decoration:underline;
}

.discover-goal-item .discover-goal-reason{
	color:gray;
	margin:0 0 3px 0;
}

.discover-goal-item .discover-goal-creator{
	color:gray;
}

.discover-goal-item .discover-goal-creator a{
	color:#369;
	text-decoration:none;
}

.discover-goal-item .discover-goal-creator a:hover{
	text-decoration:underline;
}

.discover-goal-item .goal-num-wap{
	position:absolute;
	bottom:4px;
	right:6px;
	font-family:'微软雅黑';
}

.discover-goal-item .goal-num-wap span{
	display:inline-block;
}

.discover-goal-item .follow-cmd{
	position:absolute;
	top:-1px;
	right:-1px;
	text-decoration:none;
	color:black;
	border-bottom-left-radius:5px;
	padding:3px 8px;
	background-color:lightgray;
	font-family:'微软雅黑';
}

.discover-goal-item .follow-cmd:hover{
	color:white;
	background-color:black;
}

/* Person Page
------------------------------------------------------------*/

/* Loyout */

#person-page #main-panel{
	width:70%;
	float:left;
}

#person-page #sidebar-panel{
	width:28%;
	float:right;
}

/* User Info */

#person-page #user-info{
	margin:0 0 15px 0;
	position:relative;
}

#person-page #user-info #user-profile{
	float:left;
	margin:0 8px 0 0;
}

#person-page #user-info #user-info-wap{
	float:left;
}

#person-page #user-info #user-info-wap #user-name{
	font-size:18px;
	font-weight:bold;
}
#person-page #user-info #user-cmd-wap{
	position:absolute;
	top:0px;
	right:0px;
}

#person-page #user-info #user-cmd-wap a{
	display:inline-block;
	padding:2px 10px;
	margin:0 0 0 8px;
	background-color:#E8E8E8;
	text-decoration:none;
	border-radius:2px;
	color:black;	
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
}

#person-page #user-info #user-cmd-wap a:hover{
	background-color:orange;
}

/* User Goals */
#person-page #goal-wap-header{
	list-style:none;
}

#person-page #goal-wap-header li{
	display:inline-block;
	margin:0 1px 0 0;
}

#person-page #goal-wap-header li a{
	display:block;
	padding:5px 15px;
	background-color:#E8E8E8;
	text-decoration:none;
	color:black;	
	cursor:pointer;
	font-size:18px;
}

#person-page #goal-wap-header li a:hover{
	background-color:#DDD;
}

#person-page .goal-wap{
	float:left;
	margin:0 20px 0 0;
	width:100%;
}

#person-page .goal-item{
	border-bottom:1px solid #EEE;
	padding:10px 0 8px 0;
	position:relative;
}

#person-page .goal-title{
	font-size:15px;
	font-weight:bold;
	margin:0 0 3px 0;
}

#person-page .goal-title a{
	text-decoration:none;
	color:black;
}

#person-page .goal-title a:hover{
	text-decoration:underline;
}

#person-page .goal-reason{
	font-size:12px;
	color:gray;
	margin:0 0 2px 0;
}

#person-page .goal-num-wap{
	font-size:12px;
	color:gray;
	position:absolute;
	top:10px;
	right:8px;
}

#person-page .goal-cmd-wap{
	position:absolute;
	top:5px;
	right:5px;
}

#person-page .goal-cmd{
	text-decoration:none;
	color:black;
	display:block;
	background-color:#E8E8E8;
	border-radius:2px;
	padding:2px 7px;
	font-size:12px;
	cursor:pointer;
}

#person-page .goal-cmd:hover{
	background-color:#DDD;
}

/* Personal Dynamics */

#person-page .dynamic-item{
	padding:0 5px 5px 5px;
	border-bottom:1px solid #EEE;
	margin:0 0 5px 0;
	color:gray;
	font-size:13px;
}

#person-page .dynamic-header{
	margin:0 0 3px 0;
}

#person-page .dynamic-item a{
	text-decoration:none;
	color:#369;
}

#person-page .dynamic-item a:hover{
	text-decoration:underline;
}

#person-page .dynamic-log-title{
	color:black;
	font-weight:bold;
	margin:0 0 3px 0;
	padding:0 0 0 15px;
}

#person-page .dynamic-log-content, #person-page .dynamic-goal-reason{
	font-size:12px;
	font-family:'宋体';
	line-height:20px;
	word-wrap:break-all;
	margin:0 0 5px 0;
	padding:0 0 0 15px;
}

#person-page .dynamic-time{
	text-align:right;
	color:gray;
	font-size:12px;
}

/* Message */
#person-page .message-item{
	border-bottom:1px solid #EEE;
	font-size:13px;
	padding:0 0 3px 0;
	margin:0 5px 5px 5px;
}

#person-page .message-content{
	margin:0 0 5px 0;
}

#person-page .message-content a{
	color:#369;
	text-decoration:none;
}

#person-page .message-content a:hover{
	text-decoration:underline;
}

#person-page .message-time{
	font-size:12px;
	text-align:right;
	color:gray;
}

/* Leave Message Dialog */
#form-leave-message #message-content{
	width:384px;
	height:150px;
	margin:10px 0 0 0;
	resize:vertical;
}

/* About
------------------------------------------------------------*/
