/* Reset */
.clearfix:before,
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* Reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockqoute,
th,
td,
select {
  margin: 0;
  padding: 0;
}
textarea,
input,
select {
  outline: none;
}
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.container:before,
.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row {
  margin-left: -20px;
}
.row:before,
.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
  box-sizing: border-box;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
body {
  background-color: #ffffff;
  font-family: '微软雅黑';
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
p {
  margin: 0 0 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
}
h4.page-title {
  font-weight: normal;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
ul li {
  margin: 0 0 10px;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px 0;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
}
a {
  color: #336699;
  text-decoration: none;
}
a:hover {
  color: #204060;
  text-decoration: underline;
}
input {
  font-size: 14px;
}
input[type="text"],
input[type="password"] {
  padding: 5px 7px;
  margin: 0 0 10px 0;
  width: 200px;
  font-family: '宋体';
  border: 1px solid lightgray;
  display: block;
}
textarea {
  padding: 5px 7px;
  font-size: 14px;
  font-family: '宋体';
  line-height: 20px;
  border: 1px solid lightgray;
  margin: 0 0 10px 0;
  display: block;
}
select {
  font-size: 14px;
  border: 1px solid lightgray;
  font-family: '宋体';
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  color: #000000;
  background-color: #eeeeee;
}
.btn:hover {
  text-decoration: none;
  color: #000000;
  background-color: #e1e1e1;
}
.btn-primary {
  color: #ffffff;
  background-color: #1C86EE;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #1179e0;
}
.btn-donate {
  color: #000000;
  background-color: #f89406;
}
.btn-donate:hover {
  color: #000000;
  background-color: #f8a806;
}
.btn-large {
  font-size: 16.099999999999998px;
  padding: 10px 18px;
  border-radius: 6px;
}
.btn-small {
  font-size: 11.9px;
  padding: 2px 5px;
  border-radius: 2px;
}
.small-cmd {
  font-size: 12px;
  font-family: '宋体';
  text-decoration: none;
  margin: 0 6px 0 0;
  cursor: pointer;
  color: #0455A1;
  padding: 1px;
}
.small-cmd:hover {
  background-color: #1C86EE;
  color: white;
}
#header {
  height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10000;
  background-color: #2B2B2B;
  /* Logo */

  /* Nav */

  /* Login State Panel */

}
#header  + .container {
  padding-top: 55px;
}
#header #logo-link {
  display: block;
  background-image: url('../imgs/new.png');
  background-repeat: no-repeat;
  height: 25px;
  width: 104px;
  float: left;
  margin: 8px 5px 0 5px;
}
#header #nav {
  float: left;
}
#header #nav li {
  list-style: none;
  float: left;
}
#header #nav li a {
  text-decoration: none;
  font-size: 15px;
  color: #CCC;
  margin: 12px 0 0px 20px;
  display: block;
  font-family: '宋体';
}
#header #nav li a:hover {
  color: white;
}
#header #account-info {
  float: right;
  margin-top: 10px;
}
#header #account-info a {
  display: inline-block;
  color: #CCC;
  font-size: 13px;
  cursor: pointer;
  margin-left: 8px;
  font-family: '宋体';
  text-decoration: none;
}
#header #account-info a:hover {
  color: white;
}
/* Highlight */
#page-home #header #nav-home,
#page-my-goals #header #nav-my-goals,
#page-followee-dynamics #header #nav-followee-dynamics,
#page-person #header #nav-person,
#page-new-goal #header #nav-newgoal {
  color: white;
}
#footer {
  margin: 80px auto 10px auto;
  font-size: 11.9px;
  text-align: center;
}
#footer a {
  margin: 0 8px 0 0;
}
.user-avatar {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 10px 10px 0;
}
.multi-user-avatar {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 10px 10px 0;
  border: none;
}
.subtitle {
  font-size: 20px;
  margin: 0 0 10px 0;
}
.subtitle a {
  color: #369;
  text-decoration: none;
}
.subtitle a:hover {
  text-decoration: underline;
}
#feedback-panel {
  position: fixed;
  right: -200px;
  top: 250px;
  z-index: 1000;
}
#feedback-panel #feedback-tag {
  float: left;
  width: 26px;
  height: 90px;
  margin: 0px 0 0 0;
  background: url("../imgs/feedback.png");
  background-position: -28px -8px;
  cursor: pointer;
}
#feedback-panel #feedback-tag:hover {
  background-position: -83px -8px;
}
#feedback-panel #form-feedback {
  width: 200px;
  box-sizing: border-box;
  margin: 0 0 0 26px;
  padding: 10px 10px;
  background-color: #F2F2F2;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
}
#feedback-panel #form-feedback:after {
  content: ".";
  display: block;
  height: 0px;
  clear: right;
  visibility: hidden;
}
#feedback-panel #form-feedback #feedback-subject,
#feedback-panel #form-feedback #feedback-content {
  width: 179px;
  box-sizing: border-box;
}
#feedback-panel #form-feedback #submit-feedback {
  background-color: #1C86EE;
  color: white;
  float: right;
}
.panel-header {
  margin: 0 0 10px 0;
  clear: both;
}
.panel-header:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.panel-header .panel-title {
  font-size: 18px;
  color: #1C86EE;
  font-weight: bold;
  font-family: '微软雅黑';
  display: inline-block;
  padding: 0 6px 0 0;
}
.panel-header .panel-cmd-wapper {
  font-size: 12px;
  display: inline-block;
  font-family: '宋体';
}
.panel-header .panel-cmd-wapper .panel-underline {
  color: #EEE;
  margin: 0 0 -2px 0;
}
.panel-header .panel-cmd-wapper .panel-cmd {
  text-decoration: none;
  background-color: #EEE;
  font-family: '微软雅黑';
  cursor: pointer;
  padding: 0 5px;
  margin: 0 0 0 5px;
  color: #666;
}
.panel-header .panel-cmd-wapper .panel-cmd:hover {
  text-shadow: 1px 1px 1px white;
  background-color: #F2F2F2;
}
/* Comments */
.comments-wap {
  border-top: 1px solid #EEE;
  padding: 12px 0 0 0;
}
.comments-wap .comment-item {
  padding: 0 0 12px 0;
  font-size: 13px;
  font-family: '宋体';
}
.comments-wap .comment-item .comment-poster-profile {
  height: 30px;
  width: 30px;
  float: left;
}
.comments-wap .comment-item .comment-main {
  margin: -3px 0 0 40px;
}
.comments-wap .comment-item .comment-main .comment-header {
  margin: 0 0 3px 0;
  line-height: 20px;
}
.comments-wap .comment-item .comment-main .comment-footer {
  font-size: 12px;
  line-height: 12px;
}
.comments-wap .comment-item .comment-main .comment-footer .comment-cmd {
  color: #369;
  cursor: pointer;
}
.comments-wap .comment-item .comment-main .comment-footer .comment-cmd:hover {
  color: white;
  background-color: blue;
}
.comments-wap .comment-item .comment-main .comment-footer .comment-time {
  color: gray;
}
.comments-wap .comment-item a {
  text-decoration: none;
  color: #369;
}
.comments-wap .comment-item a:hover {
  text-decoration: underline;
}
/* Comment New Form */
.new-comment-wap {
  border-top: 1px solid #EEE;
  padding: 12px 0 0 0;
}
.new-comment-wap .avatar {
  width: 30px;
  height: 30px;
  float: left;
}
.new-comment-wap .new-comment-form {
  margin: 0 0 0 40px;
}
.new-comment-wap .new-comment-form .comment-input {
  border: 1px solid #EEE;
  padding: 4px 7px;
  font-size: 13px;
  font-family: '宋体';
  line-height: 20px;
  outline: none;
  margin: 0 0 8px 0;
}
.new-comment-wap .new-comment-form .comment-submit,
.new-comment-wap .new-comment-form .comment-cancel {
  display: block;
  float: right;
  padding: 5px 10px;
  margin: 0 0 8px 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}
.new-comment-wap .new-comment-form .comment-submit {
  background-color: #1C86EE;
  color: white;
}
.new-comment-wap .new-comment-form .comment-submit:hover {
  box-shadow: 0 0 3px #1C86EE;
}
.new-comment-wap .new-comment-form .comment-cancel {
  background-color: lightgray;
  text-shadow: 1px 1px 1px white;
  color: #666;
}
.new-comment-wap .new-comment-form .comment-cancel:hover {
  box-shadow: 0 0 3px lightgray;
}
/* datapicker */
.ui-datepicker {
  font-size: 12px;
}
.ui-datepicker select.ui-datepicker-year {
  width: 40%;
  margin-right: 5px;
}
.ui-datepicker select.ui-datepicker-month {
  width: 40%;
  margin-left: 5px;
}
/* dialog */
.ui-button-text-only .ui-button-text {
  padding: .2em 1em;
}
.ui-dialog {
  font-size: 15px;
}
.ui-dialog .ui-dialog-content {
  padding-top: 15px;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em 0em .5em 0.8em;
}
#page-browser-warning {
  z-index: 100000;
  text-align: center;
  background: #fafafa url('../imgs/bg.png');
  padding: 80px 0 0 0;
}
#page-browser-warning p {
  text-shadow: 1px 1px 1px white;
  margin: 0 0 10px 0;
  font-size: 18px;
}
#page-home {
  /* Goal Item */

}
#page-home .goal-item {
  border: 1px solid lightgray;
  margin: 0 20px 15px 0;
  width: 300px;
  float: left;
  padding: 10px;
}
#page-home .goal-item .goal-title {
  margin: 0 0 5px 0;
}
#page-home .goal-item .goal-title a {
  font-size: 16.099999999999998px;
  font-weight: bold;
  color: #000000;
}
#page-home .goal-item .goal-title a:hover {
  color: #000000;
}
#page-home .goal-item .goal-reason {
  color: #555555;
  margin: 0 0 8px 0;
  font-family: '宋体';
  font-size: 11.9px;
}
#page-home .goal-item .goal-num-wap {
  color: #555555;
  text-align: right;
  font-size: 11.9px;
  line-height: 11.9px;
  margin-bottom: 0px;
}
#page-about,
#page-terms {
  /* Main Panel */

}
#page-about #main-panel,
#page-terms #main-panel {
  padding: 0 20px 10px 0;
  border-right: 1px dashed lightgray;
  min-height: 550px;
}
#page-about #sidebar #my-avatar,
#page-terms #sidebar #my-avatar {
  float: left;
  width: 80px;
}
#page-about #sidebar #my-intro,
#page-terms #sidebar #my-intro {
  margin: -4px 0 0 95px;
}
#page-login,
#page-register,
#page-active-account,
#page-forgot-pwd,
#page-reset-pwd {
  background-color: #E8E8E8;
}
#page-login #login-slogan,
#page-register #login-slogan,
#page-active-account #login-slogan,
#page-forgot-pwd #login-slogan,
#page-reset-pwd #login-slogan {
  font-size: 22px;
  line-height: 22px;
  margin: 150px auto 30px auto;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}
#page-login #login-slogan #logo,
#page-register #login-slogan #logo,
#page-active-account #login-slogan #logo,
#page-forgot-pwd #login-slogan #logo,
#page-reset-pwd #login-slogan #logo {
  vertical-align: text-bottom;
  padding: 0 0 1px 0;
}
#page-login #form-wap,
#page-register #form-wap,
#page-active-account #form-wap,
#page-forgot-pwd #form-wap,
#page-reset-pwd #form-wap {
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  box-shadow: 0 0 6px #AAA;
  padding: 40px 0 25px 0;
  background-color: #F8F8F8;
}
#page-login #form-wap #account-message,
#page-register #form-wap #account-message,
#page-active-account #form-wap #account-message,
#page-forgot-pwd #form-wap #account-message,
#page-reset-pwd #form-wap #account-message {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 18px;
}
#page-login #form-wap form,
#page-register #form-wap form,
#page-active-account #form-wap form,
#page-forgot-pwd #form-wap form,
#page-reset-pwd #form-wap form {
  width: 400px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}
#page-login #form-wap form input[type='text'],
#page-register #form-wap form input[type='text'],
#page-active-account #form-wap form input[type='text'],
#page-forgot-pwd #form-wap form input[type='text'],
#page-reset-pwd #form-wap form input[type='text'],
#page-login #form-wap form input[type='password'],
#page-register #form-wap form input[type='password'],
#page-active-account #form-wap form input[type='password'],
#page-forgot-pwd #form-wap form input[type='password'],
#page-reset-pwd #form-wap form input[type='password'] {
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-family: '微软雅黑';
  margin-bottom: 20px;
}
#page-login #form-wap form .form-footer,
#page-register #form-wap form .form-footer,
#page-active-account #form-wap form .form-footer,
#page-forgot-pwd #form-wap form .form-footer,
#page-reset-pwd #form-wap form .form-footer {
  text-align: right;
}
#page-login #form-wap form .form-footer a,
#page-register #form-wap form .form-footer a,
#page-active-account #form-wap form .form-footer a,
#page-forgot-pwd #form-wap form .form-footer a,
#page-reset-pwd #form-wap form .form-footer a {
  margin: 0 12px 0 0;
  padding: 0 0 0 0;
  line-height: 15px;
  color: #369;
}
#page-login #form-wap form .form-footer input[type='submit'],
#page-register #form-wap form .form-footer input[type='submit'],
#page-active-account #form-wap form .form-footer input[type='submit'],
#page-forgot-pwd #form-wap form .form-footer input[type='submit'],
#page-reset-pwd #form-wap form .form-footer input[type='submit'] {
  font-family: '微软雅黑';
  font-size: 20px;
  line-height: 20px;
  padding: 6px 20px;
  margin: 0;
  border: 0;
  vertical-align: text-bottom;
  background-color: #55B8EE;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
}
#page-login #form-wap form .form-footer input[type='submit']:hover,
#page-register #form-wap form .form-footer input[type='submit']:hover,
#page-active-account #form-wap form .form-footer input[type='submit']:hover,
#page-forgot-pwd #form-wap form .form-footer input[type='submit']:hover,
#page-reset-pwd #form-wap form .form-footer input[type='submit']:hover {
  box-shadow: 0 0 5px #55B8EE;
}
#page-account-details #table-account-details {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 15px 0 0 0;
}
#page-account-details #table-account-details td {
  padding: 0 10px 10px 0;
  vertical-align: top;
}
#page-account-details #table-account-details td #avatar {
  vertical-align: text-bottom;
  margin: 0 5px 0 0;
}
#page-account-details #table-account-details td .small-cmd {
  margin: 0;
}
#page-my-goals {
  /* Goals Panel */

}
#page-my-goals #content-goals .goal-item {
  width: 170px;
  height: 200px;
  box-sizing: border-box;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  overflow: hidden;
  border: 1px solid #CCC;
}
#page-my-goals #content-goals .goal-item:hover {
  background-color: #f2f2f2;
}
#page-my-goals #content-goals .goal-item .goal-link {
  display: block;
  padding: 10px 10px;
  color: #000000;
  text-decoration: none;
}
#page-my-goals #content-goals .goal-item .goal-link .goal-title {
  font-size: 17.5px;
  font-weight: bold;
  margin: 0 0 5px 0;
}
#page-my-goals #content-goals .goal-item .goal-link .goal-why {
  color: #555555;
  font-family: '宋体';
}
#page-my-goals #content-goals .goal-item .goal-link .goal-info-wap {
  position: absolute;
  font-size: 11.9px;
  bottom: 6px;
  left: 11px;
  z-index: 0;
  color: #555555;
}
#page-my-goals #content-goals .goal-item .goal-cmd-wap {
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: 100;
  width: 170px;
  box-sizing: border-box;
  background: #000000;
  opacity: 0.8;
  text-align: right;
}
#page-my-goals #content-goals .goal-item .goal-cmd-wap .goal-cmd {
  background-color: #f2f2f2;
  font-family: '宋体';
  margin: 6px 6px 6px 0;
}
#page-new-goal form #goal-title,
#page-edit-goal form #goal-title {
  width: 500px;
}
#page-new-goal form #goal-why,
#page-edit-goal form #goal-why {
  width: 500px;
}
#page-new-goal form #goal-type,
#page-edit-goal form #goal-type {
  margin: 0 6px 10px 0;
  padding: 3px 2px;
}
#page-new-goal form #goal-ispublic,
#page-edit-goal form #goal-ispublic {
  margin: 0 0 10px 0;
  padding: 3px 2px;
}
#page-new-goal form #goal-starttime,
#page-edit-goal form #goal-starttime {
  padding: 4px 3px;
  display: none;
  width: 202px;
}
#page-goal-details {
  margin-top: 5px;
  /* Title */

  /* logs */

  /* Creator */

  /* Log New & Edit Dialog */

}
#page-goal-details #title-wap {
  margin-bottom: 10px;
  position: relative;
}
#page-goal-details #title-wap #goal-title {
  font-size: 35px;
  line-height: 35px;
  margin: 0 6px 0 0;
}
#page-goal-details #title-wap #cmd-edit-goal-title {
  text-decoration: none;
  background-color: #EEE;
  cursor: pointer;
  padding: 0 5px;
  margin: 0 0 0 5px;
  position: absolute;
  top: 5px;
  right: 0;
  color: #999;
  font-size: 12px;
}
#page-goal-details #title-wap #cmd-edit-goal-title:hover {
  text-shadow: 1px 1px 1px white;
  background-color: #F2F2F2;
}
#page-goal-details #title-wap #goal-cmd-wap {
  position: absolute;
  top: 0;
  right: 0;
}
#page-goal-details #title-wap #goal-cmd-wap a {
  display: inline-block;
  padding: 2px 10px;
  margin: 0 0 0 8px;
  background-color: #E8E8E8;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 0 1px gray;
}
#page-goal-details #title-wap #goal-cmd-wap a.isCheered {
  background-color: orange;
}
#page-goal-details #title-wap #goal-cmd-wap a.isCheered:hover {
  cursor: default;
}
#page-goal-details #goal-reason {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  color: #666;
  border-bottom: 1px solid lightgray;
}
#page-goal-details #logs-wap {
  padding: 5px 0 0 0;
}
#page-goal-details #logs-wap #cmd-add-log {
  text-decoration: none;
  background-color: #EEE;
  cursor: pointer;
  padding: 0 5px;
  margin: 0 0 5px 5px;
  float: right;
  color: #999;
  font-size: 12px;
}
#page-goal-details #logs-wap #cmd-add-log:hover {
  text-shadow: 1px 1px 1px white;
  background-color: #F2F2F2;
}
#page-goal-details #logs-wap #logs-pager {
  float: right;
  margin: 0 0 5px 0;
  font-size: 14px;
  line-height: 14px;
}
#page-goal-details #logs-wap #logs-pager #page-up,
#page-goal-details #logs-wap #logs-pager #page-down {
  font-size: 12px;
  line-height: 12px;
  background-color: #EEE;
  padding: 1px 5px;
  border: 1px solid lightgray;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#page-goal-details #logs-wap #logs-pager #page-up:hover,
#page-goal-details #logs-wap #logs-pager #page-down:hover {
  background-color: #F6F6F6;
}
#page-goal-details #logs-wap #logs-pager #page-up {
  border-right: 0px;
}
#page-goal-details #logs-wap .log-item {
  border-bottom: 1px solid #EEE;
  clear: both;
  margin: 0 0 8px 0;
}
#page-goal-details #logs-wap .log-item .log-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}
#page-goal-details #logs-wap .log-item .log-content {
  font-size: 13px;
  line-height: 22px;
  font-family: '宋体';
  margin: 0 0 5px 0;
  color: #202020;
}
#page-goal-details #logs-wap .log-item .log-cmd-time-wap {
  text-align: right;
  font-size: 12px;
  margin: 0 0 5px 0;
}
#page-goal-details #logs-wap .log-item .log-cmd-time-wap .log-time {
  display: inline-block;
  color: gray;
}
#page-goal-details #logs-wap .log-item .comments-wap,
#page-goal-details #logs-wap .log-item .new-comment-wap {
  margin: 0 0 0 52px;
}
#page-goal-details #creator-wap .user-icon {
  text-decoration: none;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}
#page-goal-details #creator-wap .user-icon img {
  width: 40px;
  height: 40px;
  border: none;
}
#page-goal-details #dialog-new-log,
#page-goal-details #dialog-edit-log {
  overflow: visible;
}
#page-goal-details #dialog-new-log #form-new-log #log-title,
#page-goal-details #dialog-edit-log #form-edit-log #log-title {
  margin: 0 0 15px 0;
  width: 454px;
}
#page-goal-details #dialog-new-log #form-new-log #log-content,
#page-goal-details #dialog-edit-log #form-edit-log #log-content {
  width: 454px;
  height: 200px;
  resize: vertical;
  margin: 0;
}
#page-person {
  /* User Info */

  /* User Goals Selector */

  /* User Goals */

  /* Dynamics */

  /* Message */

  /* Message Leave Dialog */

}
#page-person #user-info {
  margin: 0 0 0px 0;
  padding: 0 0 10px 0;
  position: relative;
  border-bottom: 1px solid lightgray;
}
#page-person #user-info #user-avatar {
  float: left;
  margin: 0 8px 0 0;
  width: 40px;
  height: 40px;
}
#page-person #user-info #user-info-wap {
  margin: 0 0 0 48px;
}
#page-person #user-info #user-info-wap #user-name {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
#page-person #user-info #user-cmd-wap {
  position: absolute;
  top: 0px;
  right: 0px;
}
#page-person #user-info #user-cmd-wap a {
  display: inline-block;
  padding: 2px 10px;
  margin: 0 0 0 8px;
  background-color: #E8E8E8;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #ffffff;
}
#page-person #user-info #user-cmd-wap a.isFollowed {
  background-color: orange;
}
#page-person #user-info #user-cmd-wap a.isFollowed:hover {
  cursor: pointer;
}
#page-person #goal-wap-header {
  list-style: none;
  border-bottom: 1px solid #EEE;
}
#page-person #goal-wap-header li {
  display: inline-block;
  margin: 0 1px 0 0;
}
#page-person #goal-wap-header li a {
  display: block;
  padding: 5px 15px;
  background-color: #E8E8E8;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
}
#page-person #goal-wap-header li a:hover {
  background-color: #DDD;
}
#page-person .goal-wap {
  float: left;
  margin: 0 20px 0 0;
  width: 100%;
}
#page-person .goal-wap .goal-item {
  border-bottom: 1px solid #EEE;
  padding: 10px 0 8px 0;
  position: relative;
}
#page-person .goal-wap .goal-item .goal-title {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 3px 0;
}
#page-person .goal-wap .goal-item .goal-title a {
  text-decoration: none;
  color: black;
}
#page-person .goal-wap .goal-item .goal-title a:hover {
  text-decoration: underline;
}
#page-person .goal-wap .goal-item .goal-reason {
  font-size: 12px;
  color: gray;
  margin: 0 0 2px 0;
}
#page-person .goal-wap .goal-item .goal-num-wap {
  font-size: 12px;
  color: gray;
  position: absolute;
  top: 10px;
  right: 8px;
}
#page-person .goal-wap .goal-item .goal-cmd-wap {
  position: absolute;
  top: 5px;
  right: 5px;
}
#page-person .goal-wap .goal-item .goal-cmd-wap .goal-cmd {
  text-decoration: none;
  color: black;
  display: block;
  background-color: #E8E8E8;
  border-radius: 2px;
  padding: 2px 7px;
  font-size: 12px;
  cursor: pointer;
}
#page-person .goal-wap .goal-item .goal-cmd-wap .goal-cmd:hover {
  background-color: #DDD;
}
#page-person .dynamic-item {
  padding: 0 5px 5px 0;
  border-bottom: 1px solid #EEE;
  margin: 0 0 5px 0;
  color: gray;
  font-size: 13px;
}
#page-person .dynamic-item .dynamic-header {
  margin: 0 0 3px 0;
}
#page-person .dynamic-item .dynamic-header a {
  text-decoration: none;
  color: #369;
}
#page-person .dynamic-item .dynamic-header a:hover {
  text-decoration: underline;
}
#page-person .dynamic-item .dynamic-log-title {
  color: black;
  font-weight: bold;
  margin: 0 0 3px 0;
  padding: 0 0 0 5px;
}
#page-person .dynamic-item .dynamic-log-content,
#page-person .dynamic-item .dynamic-goal-reason {
  font-size: 12px;
  font-family: '宋体';
  line-height: 20px;
  word-wrap: break-all;
  margin: 0 0 5px 0;
  padding: 0 0 0 5px;
}
#page-person .dynamic-item .dynamic-time {
  text-align: right;
  color: gray;
  font-size: 12px;
}
#page-person .message-item {
  border-bottom: 1px solid #EEE;
  font-size: 13px;
  padding: 0 0 3px 0;
  margin: 0 5px 5px 5px;
}
#page-person .message-item .message-content {
  margin: 0 0 5px 0;
}
#page-person .message-item .message-content a {
  color: #369;
  text-decoration: none;
}
#page-person .message-item .message-content a:hover {
  text-decoration: underline;
}
#page-person .message-item .message-time {
  font-size: 12px;
  text-align: right;
  color: gray;
}
#page-person #form-leave-message #message-content {
  width: 384px;
  height: 150px;
  margin: 0;
  resize: vertical;
}
#page-followee-dynamics {
  /* Dynamic Selector */

}
#page-followee-dynamics #dynamic-sel-wap .dynamic-sel {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #E8E8E8;
  padding: 5px 15px;
  margin: 0 1px 0 0;
  font-size: 18px;
}
#page-followee-dynamics #dynamic-sel-wap .dynamic-sel:hover {
  background: #DDD;
}
#page-followee-dynamics,
#page-single-dynamics {
  /* Dynamic Item */

}
#page-followee-dynamics .dynamic-item,
#page-single-dynamics .dynamic-item {
  width: 700px;
  padding: 15px 0 0 0;
  border-top: 1px solid #EEE;
  color: gray;
  font-size: 14px;
  position: relative;
  /* Avatar */

  /* Dynamic Content */

  /* Comments */

}
#page-followee-dynamics .dynamic-item .dynamic-poster-profile,
#page-single-dynamics .dynamic-item .dynamic-poster-profile {
  width: 40px;
  height: 40px;
  float: left;
}
#page-followee-dynamics .dynamic-item .dynamic-content-wap,
#page-single-dynamics .dynamic-item .dynamic-content-wap {
  margin: 0 0 0 55px;
}
#page-followee-dynamics .dynamic-item .dynamic-content-wap .dynamic-header,
#page-single-dynamics .dynamic-item .dynamic-content-wap .dynamic-header {
  margin: 0 0 10px 0;
  font-family: '宋体';
  line-height: 14px;
}
#page-followee-dynamics .dynamic-item .dynamic-content-wap .dynamic-header a,
#page-single-dynamics .dynamic-item .dynamic-content-wap .dynamic-header a {
  text-decoration: none;
  color: #369;
}
#page-followee-dynamics .dynamic-item .dynamic-content-wap .dynamic-header a:hover,
#page-single-dynamics .dynamic-item .dynamic-content-wap .dynamic-header a:hover {
  text-decoration: underline;
}
#page-followee-dynamics .dynamic-item .dynamic-content-wap .dynamic-log-title,
#page-single-dynamics .dynamic-item .dynamic-content-wap .dynamic-log-title {
  line-height: 14px;
  color: black;
  font-weight: bold;
  margin: 0 0 8px 0;
}
#page-followee-dynamics .dynamic-item .dynamic-content-wap .dynamic-log-content,
#page-single-dynamics .dynamic-item .dynamic-content-wap .dynamic-log-content,
#page-followee-dynamics .dynamic-item .dynamic-content-wap .dynamic-goal-reason,
#page-single-dynamics .dynamic-item .dynamic-content-wap .dynamic-goal-reason {
  font-size: 12px;
  font-family: '宋体';
  line-height: 20px;
  word-wrap: break-all;
  margin: 0 0 5px 0;
}
#page-followee-dynamics .dynamic-item .dynamic-content-wap .dynamic-footer,
#page-single-dynamics .dynamic-item .dynamic-content-wap .dynamic-footer {
  font-size: 12px;
  margin: 0 0 5px 0;
  text-align: right;
}
#page-followee-dynamics .dynamic-item .dynamic-content-wap .dynamic-footer .dynamic-time,
#page-single-dynamics .dynamic-item .dynamic-content-wap .dynamic-footer .dynamic-time {
  display: inline-block;
  color: gray;
}
#page-followee-dynamics .dynamic-item .comments-wap,
#page-single-dynamics .dynamic-item .comments-wap,
#page-followee-dynamics .dynamic-item .new-comment-wap,
#page-single-dynamics .dynamic-item .new-comment-wap {
  margin-left: 55px;
}
#page-followee-dynamics #more-dyns,
#page-single-dynamics #more-dyns {
  width: 700px;
  text-align: center;
  background-color: #EEE;
  padding: 10px 0;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
  color: #666;
  font-family: '';
  border: 1px solid #EAEEA;
}
#page-followee-dynamics #more-dyns:hover,
#page-single-dynamics #more-dyns:hover {
  background-color: #F2F2F2;
}
#page-admin-followees .followee-item {
  border-top: 1px solid #EEE;
  margin: 0 0 0px 0;
  padding: 10px 0 10px 0;
  position: relative;
  width: 700px;
}
#page-admin-followees .followee-item:last-child {
  border-bottom: 1px solid #EEE;
}
#page-admin-followees .followee-item .user-avatar {
  width: 40px;
  height: 40px;
  float: left;
}
#page-admin-followees .followee-item .user-info {
  margin: 0 0 0 50px;
}
#page-admin-followees .followee-item .user-info .user-name {
  font-size: 15px;
  font-family: '';
  font-weight: bold;
  margin: 0 0 10px 0;
}
#page-admin-followees .followee-item .user-info .user-name a {
  text-decoration: none;
  color: black;
}
#page-admin-followees .followee-item .user-info .user-name a:hover {
  text-decoration: underline;
}
#page-admin-followees .followee-item .user-info .goal-info {
  font-size: 12px;
  line-height: 12px;
  color: #444;
}
#page-admin-followees .followee-item .user-info .goal-info b {
  color: black;
}
#page-admin-followees .followee-item .cmd-wap {
  position: absolute;
  top: 15px;
  right: 0px;
}
#page-admin-followees .followee-item .cmd-wap .cmd {
  padding: 3px 10px;
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  background-color: lightgray;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 1px black;
}
#page-admin-followees .followee-item .cmd-wap .cmd:hover {
  box-shadow: 0px 0px 2px lightgray;
}
