@import "utility.less";
@import "reset.less";
@import "layout.less";
@import "basecss.less";
@import "components.less";

// Page Browser Warning
// ------------------------------------------------------------

#page-browser-warning{
	z-index: 100000;
	text-align: center;
	background: #FAFAFA url('../imgs/bg.png');
	padding: 80px 0 0 0;

	p{
		text-shadow:1px 1px 1px white;
		margin:0 0 10px 0;
		font-size:18px;
	}
}

// Page Home
// ------------------------------------------------------------

#page-home{

	/* Goal Type List */
	#discover-goal-type-list{
		list-style:none;
		border-bottom:1px solid gray;
		padding:0 0 10px 0;
		width:600px;
		
		li{
			display:inline-block;
			
			a{
				display:block;
				padding:5px 0;
				width:60px;
				text-decoration:none;
				cursor:pointer;
				font-size:14px;
				font-family:'宋体';
				text-align:center;
			
				&:hover{
					background:deepSkyBlue;
					color:white;
				}
			}
		}
	}
	
	/* Goal Item */
	.discover-goal-item{
		border:1px solid lightgray;
		margin:0 18px 15px 0;
		width:400px;
		float:left;
		font-size:12px;
		font-family:'宋体';
		position:relative;
		padding:8px 10px;
		
		.discover-goal-title{
			font-size:16px;
			font-weight:bold;
			margin:0 0 5px 0;
			
			a{
				text-decoration:none;
				color:#222;
				
				&:hover{
					text-decoration:underline;
				}
			}
		}
		
		.discover-goal-reason{
			color: gray;
			margin: 0 0 3px 0;
		}
		
		.goal-num-wap{
			color: gray;
			position:absolute;
			bottom:5px;
			right:8px;
			
			span{
				display:inline-block;
			}

			a{
				color:#369;
				text-decoration:none;
				
				&:hover{
					text-decoration:underline;
				}
			}
		}
		
		.follow-cmd{
			position:absolute;
			top:-1px;
			right:-1px;
			text-decoration:none;
			color:black;
			border-bottom-left-radius:5px;
			padding:3px 8px;
			background-color:lightgray;
			
			&:hover{
				color:white;
				background-color:black;
			}
		}
	}
}

// Page About, Terms
// ------------------------------------------------------------

#page-about,
#page-terms{
	p{
		margin:0 0 12px 0;
		line-height:22px;
		font-size:14px;
	}
	
	.main-title{
		font-weight:bold;
		font-size:20px;
		margin:20px 0 15px 0;
		clear:both;
		text-indent:0;
		
		&:nth-child(1){
			margin-top:5px;
		}
	}
	
	/* Main Panel */
	#main-panel{
		padding:0 20px 10px 0;
		border-right:1px dashed lightgray;
		min-height:550px;
		
		li{
			list-style-type:square;
			font-size:14px;
			line-height:20px;
			margin:0 0 10px 20px;

		}

		a{
			color:#0455A1;
			text-decoration:none;
			
			&:hover{
				text-decoration:underline;
			}
		}
		
		blockquote{
			margin:20px 50px 20px 20px;
			padding:0 0 0 8px;
			border-left:4px solid lightgray;
			
			p{
				font-size:12px;
				line-height:18px;
				font-style:italic;
				color:#666;
			}
		}
	}
	
	#sidebar{
		padding:0 0 0 20px;
		
		#my-avatar{
			float:left;
			width:80px;
			margin:0 0px 10px 0;
		}
		
		#my-intro{
			margin:-4px 0 0 92px;
			
			p{
				margin:0 0 6px 0;
				line-height:20px;
			}
		}
		
		#donate-btn{
			padding:7px 0 6px 0;
			margin:0 0 10px 0;
			display:block;
			width:200px;
			text-align:center;
			font-size:18px;
			line-height:18px;
			font-weight:bold;
			background-color:orange;
			cursor:pointer;
			border-radius:50px;
			text-shadow:-1px -1px 1px #EEE;
			
			a{
				color:#333;
				text-decoration:none;
			}
			
			&:hover{
				text-shadow:1px 1px 1px #EEE;
			}
		}
	}
}

// Page Login, Register, Active, Forgot Password, Reset Password 
// ------------------------------------------------------------

#page-login,
#page-register,
#page-active-account,
#page-forgot-pwd,
#page-reset-pwd{
	background-color:#E8E8E8;
	
	#login-slogan{
		font-size:22px;
		line-height:22px;
		margin:150px auto 30px auto;
		text-align:center;
		text-shadow:1px 1px 2px white;
		
		#logo{
			vertical-align:text-bottom;
			padding:0 0 1px 0;
		}
	}
	
	#form-wap{
		border-top:1px solid #BBB;
		border-bottom:1px solid #BBB;
		box-shadow:0 0 6px #AAA;
		padding:40px 0 25px 0;
		background-color:#F8F8F8;

		#account-message{
			margin:0 0 20px 0;
			text-align:center;
			font-size:18px;
		}
		
		form{
			width:400px;
			margin:0 auto;
			display:block;
			border-radius:5px;
			
			input[type='text'],
			input[type='password']{
				width:100%;
				box-sizing:border-box;
				font-size:20px;
				font-family:'微软雅黑';
				margin-bottom:20px;
			}
			
			.form-footer{
				text-align:right;
				
				a{
					margin:0 12px 0 0;
					padding:0 0 0 0;
					line-height:15px;
					color:#369;
				}
				
				input[type='submit']{
					font-family:'微软雅黑';
					font-size:20px;
					line-height:20px;
					padding:6px 20px;
					margin:0;
					border:0;
					vertical-align:text-bottom;
					background-color:#55B8EE;
					border-radius:2px;
					color:white;
					font-weight:bold;
					text-shadow:1px 1px 1px gray;

					&:hover{
						box-shadow:0 0 5px #55B8EE;
					}
				}
			}
		}
	}
}

// Page Account Details
//------------------------------------------------------------

#page-account-details{

	#table-account-details{
		border-spacing:0;
		border-collapse:collapse;
		margin:15px 0 0 0;
		
		td{
			padding:0 10px 10px 0;
			vertical-align:top;
			
			#avatar{
				vertical-align:text-bottom;
				margin:0 5px 0 0;
			}
			
			.small-cmd{
				margin:0;
			}
		}
	}
}

// Page My Goals
// ------------------------------------------------------------

#page-my-goals{
	
	/* Goals Panel */
	#content-goals{
		
		&:after{
			content:".";
			display:block;
			height:0px;
			clear:both;
			visibility:hidden;
		}
		
		.goal-item{
			background-color:white;
			width:170px;
			height:200px;
			float:left;
			margin:0 20px 20px 0;
			position:relative;
			overflow:hidden;
			border:1px solid #CCC;
			
			&:hover{
				background-color:#F7F7F7;
			}
			
			.goal-link{
				display:block;
				padding:8px 10px 10px 10px;
				color:black;
				text-decoration:none;
				
				.goal-title{
					font-size:18px;
					font-weight:bold;
					margin:0 0 5px 0;
					
					a{
						text-decoration:none;
						color:black;
					}
				}
				
				.goal-why{
					font-size:15px;
					line-height:20px;
					margin-top:5px;
					color:#666;
					font-family:"宋体";
				}
				
				.goal-info-wap{
					position:absolute;
					font-size:12px;
					bottom:6px;
					left:11px;
					z-index:0;
					color:#666;
					
					.goal-starttime,
					.goal-endtime{
						font-size:12px;
						color:#666;
						margin-top:2px;
					}
				}
			}
			
			.goal-cmd-wap{
				position:absolute;
				bottom:-32px;
				left:0;
				z-index:100;
				width:170px;
				background:black;
				opacity:0.8;
				text-align:right;
				
				.goal-cmd{
					color:black;
					font-size:12px;
					font-family:'宋体';
					display:inline-block;
					margin:6px 6px 6px 0;
					border-radius:3px;
					background-color:white;
					text-decoration:none;
					padding:3px 5px;
					cursor:pointer;
				}
			}
		}
	}
	
	/* Delay Dialog */
	#form-delay-goal #goal-starttime{
		font-size:15px;
		padding:4px 3px;
		margin:0;
		border:1px solid lightgray;
		width:202px;
		display:inline-block;
	}
}

// Page New Goal, Edit Goal
// ------------------------------------------------------------

#page-new-goal,
#page-edit-goal{
	form{
		#goal-title{
			width:500px;
		}
		
		#goal-why{
			width:500px;
		}
		
		#goal-type{
			margin:0 6px 10px 0;
			padding:3px 2px;
		}
	
		#goal-ispublic{
			margin:0 0 10px 0;
			padding:3px 2px;
		}
		
		#goal-starttime{
			padding:4px 3px;
			display:none;
			width:202px;
		}
	}
}
	
// Page Goal Details
// ------------------------------------------------------------

#page-goal-details{
	margin-top: 5px;

	/* Title */
	#title-wap{
		margin-bottom: 10px;
		position:relative;
		
		#goal-title{
			font-size:35px;
			line-height:35px;
			margin:0 6px 0 0;
		}
		
		#cmd-edit-goal-title{	
			text-decoration:none;
			background-color:#EEE;
			cursor:pointer;
			padding:0 5px;
			margin:0 0 0 5px;
			position: absolute;
			top: 5px;
			right: 0;
			color:#999;
			font-size:12px;
					
			&:hover{
				text-shadow:1px 1px 1px white;
				background-color:#F2F2F2;
			}
		}
			
		#goal-cmd-wap{
			position:absolute;
			top:0;
			right:0;
		
			a{	
					display:inline-block;
					padding:2px 10px;
					margin:0 0 0 8px;
					background-color:#E8E8E8;
					text-decoration:none;
					color:black;	
					cursor:pointer;
					font-size:15px;
					font-weight:bold;
					text-shadow:0 0 1px gray;
					
					&.isCheered{
						background-color:orange;
						
						&:hover{
							cursor:default;
						}
					}
				}
			}	
		}	
		
		#goal-reason{
			font-size:15px;
			margin:0 0 10px 0;
			padding: 0 0 10px 0;
			color: #666;
			border-bottom: 1px solid lightgray;
		}

		/* logs */
		#logs-wap{
			padding: 5px 0 0 0;
			
			#cmd-add-log{
				text-decoration: none;
				background-color: #EEE;
				cursor: pointer;
				padding: 0 5px;
				margin: 0 0 5px 5px;
				float: right;
				color: #999;
				font-size: 12px;
					
				&:hover{
					text-shadow: 1px 1px 1px white;
					background-color: #F2F2F2;
				}				
			}

			#logs-pager{
				float: right;
				margin: 0 0 5px 0;
				font-size:14px;
				line-height:14px;

				#page-up,
				#page-down{
				font-size:12px;
				line-height:12px;
				background-color:#EEE;
				padding:1px 5px;
				border:1px solid lightgray;
				text-decoration:none;
				color:black;
				cursor:pointer;
				
				&:hover{
					background-color:#F6F6F6;					
				}
			}
	
			
			#page-up{
				border-right:0px;
			}
		}
		
		.log-item{
			border-bottom:1px solid #EEE;
			clear: both;
			margin:0 0 8px 0;
			
			.log-title{
				font-size:16px;
				font-weight:bold;
				margin:0 0 5px 0;
			}
		
			.log-content{
				font-size:13px;
				line-height:22px;
				font-family:'宋体';
				margin:0 0 5px 0;
				color:#202020;
			}
			
			.log-cmd-time-wap{
				text-align:right;
				font-size:12px;
				margin:0 0 5px 0;
				
				.log-time{
					display:inline-block;
					color:gray;
				}
			}
			
			
			.comments-wap,
			.new-comment-wap{
				margin:0 0 0 52px;
			}
		}
	}
	
	/* Creator */
	#creator-wap{
		.user-icon{
			text-decoration:none;
			display:block;
			float:left;
			margin:0 10px 10px 0;
			
			img{
				width:40px;
				height:40px;
				border:none;
			}
		}
	}

	/* Log New & Edit Dialog */
	#dialog-new-log,
	#dialog-edit-log{
		overflow:visible;	
	}
	
	#dialog-new-log #form-new-log,
	#dialog-edit-log #form-edit-log{
				
		#log-title{
			margin:0 0 15px 0;
			width:454px;
		}
	
		#log-content{
			width:454px;
			height:200px;
			resize:vertical;
			margin:0;
		}
	}
}

// Page Person
// ------------------------------------------------------------

#page-person{

	/* User Info */
	#user-info{
		margin:0 0 0px 0;
		padding: 0 0 10px 0;
		position:relative;
		border-bottom: 1px solid lightgray;
		
		#user-avatar{
			float:left;
			margin:0 8px 0 0;
			width:40px;
			height:40px;
		}
		
		#user-info-wap{
			margin:0 0 0 48px;
			
			 #user-name{
				font-size:18px;
				line-height:18px;
				font-weight:bold;
			}
		}
		
		#user-cmd-wap{
			position:absolute;
			top:0px;
			right:0px;

			a{
				display:inline-block;
				padding:2px 10px;
				margin:0 0 0 8px;
				background-color:#E8E8E8;
				text-decoration:none;
				color:black;	
				cursor:pointer;
				font-size:15px;
				font-weight:bold;
				text-shadow:-1px -1px 1px white;
					
				&.isFollowed{
					background-color:orange;
					
					&:hover{
						cursor:pointer;
					}
				}

			}
		}
	}
	
	/* User Goals Selector */
	#goal-wap-header{
		list-style:none;
		border-bottom:1px solid #EEE;
		
		li{
			display:inline-block;
			margin:0 1px 0 0;
			
			a{
				display:block;
				padding:5px 15px;
				background-color:#E8E8E8;
				text-decoration:none;
				color:black;	
				cursor:pointer;
				font-size:18px;
				
				&:hover{
					background-color:#DDD;
				}
			}
		}
	}
	
	/* User Goals */
	.goal-wap{
		float:left;
		margin:0 20px 0 0;
		width:100%;
		
		.goal-item{
			border-bottom:1px solid #EEE;
			padding:10px 0 8px 0;
			position:relative;
			
			.goal-title{
				font-size:15px;
				font-weight:bold;
				margin:0 0 3px 0;
				
				a{
					text-decoration:none;
					color:black;
					
					&:hover{
						text-decoration:underline;
					}
				}
			}
			
			.goal-reason{
				font-size:12px;
				color:gray;
				margin:0 0 2px 0;
			}
			
			.goal-num-wap{
				font-size:12px;
				color:gray;
				position:absolute;
				top:10px;
				right:8px;
			}
			
			.goal-cmd-wap{
				position:absolute;
				top:5px;
				right:5px;
				
				.goal-cmd{
					text-decoration:none;
					color:black;
					display:block;
					background-color:#E8E8E8;
					border-radius:2px;
					padding:2px 7px;
					font-size:12px;
					cursor:pointer;
					
					&:hover{
						background-color:#DDD;
					}
				}
			}
		}
	}
	
	/* Dynamics */
	.dynamic-item{
		padding:0 5px 5px 0;
		border-bottom:1px solid #EEE;
		margin:0 0 5px 0;
		color:gray;
		font-size:13px;
		
		.dynamic-header{
			margin:0 0 3px 0;
			
			a{
				text-decoration:none;
				color:#369;
				
				&:hover{
					text-decoration:underline;
				}
			}
		}
		
		.dynamic-log-title{
			color:black;
			font-weight:bold;
			margin:0 0 3px 0;
			padding:0 0 0 5px;
		}
		
		.dynamic-log-content,
		.dynamic-goal-reason{
			font-size:12px;
			font-family:'宋体';
			line-height:20px;
			word-wrap:break-all;
			margin:0 0 5px 0;
			padding:0 0 0 5px;		
		}

		.dynamic-time{
			text-align:right;
			color:gray;
			font-size:12px;
		}
	}
	
	/* Message */
	.message-item{
		border-bottom:1px solid #EEE;
		font-size:13px;
		padding:0 0 3px 0;
		margin:0 5px 5px 5px;
		
		.message-content{
			margin:0 0 5px 0;
			
			a{
				color:#369;
				text-decoration:none;
				
				&:hover{
					text-decoration:underline;
				}

			}
		}
		
		.message-time{
			font-size:12px;
			text-align:right;
			color:gray;
		}
	}
	
	/* Message Leave Dialog */
	#form-leave-message{
		#message-content{
			width:384px;
			height:150px;
			margin:0;
			resize:vertical;
		}
	}
}

// Page Followee Dynamics, Single Dynamics
// ------------------------------------------------------------

#page-followee-dynamics{

	/* Dynamic Selector */
	#dynamic-sel-wap{
		
		.dynamic-sel{
			display:inline-block;
			text-decoration:none;
			color:black;
			background-color:#E8E8E8;
			padding:5px 15px;
			margin:0 1px 0 0;
			font-size:18px;
			
			&:hover{
				background:#DDD;
			}
		}
	}
}

#page-followee-dynamics,
#page-single-dynamics{

	/* Dynamic Item */
	.dynamic-item{
		width:700px;
		padding:15px 0 0 0;
		border-top:1px solid #EEE;
		color:gray;
		font-size:14px;
		position:relative;
		
		/* Avatar */
		.dynamic-poster-profile{
			width:40px;
			height:40px;
			float:left;
		}
		
		/* Dynamic Content */
		.dynamic-content-wap{
			margin:0 0 0 55px;
			
			.dynamic-header{
				margin:0 0 10px 0;
				font-family:'宋体';
				line-height:14px;
					
				a{
					text-decoration:none;
					color:#369;
					
					&:hover{
						text-decoration:underline;
					}
				}
			}
				
			.dynamic-log-title{
				line-height:14px;
				color:black;
				font-weight:bold;
				margin:0 0 8px 0;
			}
			
			.dynamic-log-content,
			.dynamic-goal-reason{
				font-size:12px;
				font-family:'宋体';
				line-height:20px;
				word-wrap:break-all;
				margin:0 0 5px 0;
			}
	
			.dynamic-footer{
				font-size:12px;
				margin:0 0 5px 0;
				text-align:right;
					
				.dynamic-time{
					display:inline-block;
					color:gray;
				}			
			}
		}
		
		/* Comments */
		.comments-wap,
		.new-comment-wap{
			margin-left:55px;
		}
	}
	
	#more-dyns{
		width:700px;
		text-align:center;
		background-color:#EEE;
		padding:10px 0;
		cursor:pointer;
		font-size:15px;
		line-height:15px;
		color:#666;
		font-family:'';
		border:1px solid #EAEEA;
			
		&:hover{
			background-color:#F2F2F2;
		}
	}
}

// Page Admin Followees
// ------------------------------------------------------------

#page-admin-followees{
	.followee-item{
		border-top:1px solid #EEE;
		margin:0 0 0px 0;
		padding:10px 0 10px 0;
		position:relative;
		width:700px;
		
		&:last-child{
			border-bottom:1px solid #EEE;		
		}
		
		.user-avatar{
			width:40px;
			height:40px;
			float:left;
		}
		
		.user-info{
			margin:0 0 0 50px;
			
			.user-name{
				font-size:15px;
				font-family:'';
				font-weight:bold;
				margin:0 0 10px 0;
				
				a{
					text-decoration:none;
					color:black;
					
					&:hover{
						text-decoration:underline;
					}
				}
			}
			
			.goal-info{
				font-size:12px;
				line-height:12px;
				color:#444;
				
				b{
					color:black;
				}
			}
		}
		
		.cmd-wap{
			position:absolute;
			top:15px;
			right:0px;
			
			.cmd{
				padding:3px 10px;
				font-size:15px;
				line-height:15px;
				font-weight:bold;
				background-color:lightgray;
				text-decoration:none;
				color:white;
				text-shadow:0px 0px 1px black;
				
				&:hover{
					box-shadow:0px 0px 2px lightgray;
				}
			}
		}
	}
}


